*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
height:100vh;
}

.content{
    display:flex;
    padding:10px;
    margin:10px;
    background: aliceblue;
}

section .card .image{
 height: 140px;
 width:140px;
 border-radius: 50%;
 padding: 3px;
 background: purple;
}

section .card .image img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 50%;

}
.card{
    background:rgb(251, 249, 249);
    border-radius: 20px;

}

.back{
    background:black;
    color:white;
}

.card-img-top{
    height:275px;
}